.reservation-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.reservation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.reservation-form input[type="submit"] {
    background-color: #38b6ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reservation-form input[type="submit"]:hover {
    background-color: #005f99;
}